<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Site do Mau</title>
    <link rel="stylesheet" type="text/css" href="/styles/global.css">
    <link rel="stylesheet" type="text/css" href="/styles/programacao.css">
    <script src="https://kit.fontawesome.com/475e944a02.js" crossorigin="anonymous"></script>
</head>
<body>
    <img src="./fotos/50026.jpg">
    <header>
        <h2>Site do Mau</h2>
        <nav id="menuitens">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/fotografia.php">Fotografia</a></li>
                <li><a href="/programacao.php">Programação</a></li>
                <li><a href="/outros.php">Outros</a></li>
                <li><a href="/aboutme.php">Sobre mim</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>