#certificadosid {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
}

#certificadosid .slider {
    margin-top: 10px;
    
}
#certificadosid h3 {
    margin-top:50px
}

.brasao {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brasao img {
    width: 300px;
    height: 300px;
}

.slider {
    width: 877px;
    height: 620px;
    border-radius: 10px;
    overflow: hidden;
    margin: auto
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 877px;
    height: 620px;
}

.navigation-manual, 
.navigation-auto {
    position: absolute;
    display: flex;
    width: 877px;
    justify-content: center;
    margin-top: 650px
}

.manual-btn {
    border: 2px solid #ff3f81;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #ff3f81;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

#radio5:checked~.first {
    margin-left: -0%;
}


.navigation-auto div {
    border: 2px solid #ff3f81;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~ .navigation-auto .auto-btn1 {
    background: #ff3f81;
}

#radio2:checked~ .navigation-auto .auto-btn2 {
    background: #ff3f81;
}

#radio3:checked~ .navigation-auto .auto-btn3 {
    background: #ff3f81;
}

#radio4:checked~ .navigation-auto .auto-btn4 {
    background: #ff3f81;
}

#radio5:checked~ .navigation-auto .auto-btn5 {
    background: #ff3f81;
}
